discord.py==2.7.1
tortoise-orm==1.1.8
aiosqlite==0.22.1
asyncpg==0.31.0
redis==8.1.0
aiohttp==3.14.3
aiohttp-cors==0.8.1
bitstring==4.4.0
aiodns==4.0.4
uvloop==0.22.1
pyyaml==6.0.3
python-dotenv==1.2.2
python-rapidjson==1.23
